In [2]:
import pandas as pd
import numpy as np

In [5]:
df= pd.read_csv('Tree-classification.csv')
df

     House_ID  Square_meters  years_old  bedrooms
0           1            188         72         3
1           2            103         14         5
2           3             80         51         2
3           4            167         21         2
4           5            162         20         1
5           6            161         68         5
6           7            162         88         2
7           8            128         91         1
8           9            148         48         3
9          10            130          7         3
10         11            103         37         5
11         12            110         98         5
12         13            140         46         2
13         14            152         99         4
14         15            128         31         5
15         16            136         91         3
16         17            123         59         1
17         18            101         45         1
18         19            143         83         1
19         20            142         30         5
20         21            164         48         5
21         22            155         99         3
22         23            177          7         2
23         24            138         59         4
24         25            158         66         5
25         26            110         80         3
26         27            165         72         1
27         28            118         80         1
28         29            126         78         5
29         30             99         30         5
..        ...            ...        ...       ...
170       171            171         11         1
171       172            169         70         2
172       173             97         12         1
173       174            178         55         3
174       175            197         77         4
175       176            128         41         2
176       177            117         78         5
177       178            172         67         4
178       179            156         93         1
179       180            131         94         3
180       181            100         72         5
181       182            122         66         3
182       183             97         46         2
183       184            139         79         3
184       185            193         86         4
185       186             99         57         1
186       187            143         47         3
187       188            185         80         3
188       189            181          9         4
189       190            192         49         5
190       191            100         31         2
191       192             83         57         2
192       193            123         37         1
193       194            191         87         2
194       195            185          9         4
195       196            187         31         2
196       197            191         34         5
197       198            185         22         5
198       199            181          1         2
199       200            115         89         2

[200 rows x 4 columns]

In [8]:
dfv=df.values

In [48]:
dfv[1]

array([  2, 103,  14,   5])

In [45]:
def classify(row):
     if row[1]>160:
            if row[3]>3:
                if row[2] <10:
                    return 510
                else: 
                    return 382
            else:
                if row[2]<40:
                    return 335
                else: 
                    return 312
   
     else:
            if row[2]<25:
                if row [3]>2:
                    return 341
                else: 
                    return 258
            else:
                if row[1]>100:
                    return 285
                else: 
                    return 217

In [51]:
answer=[np.append(row,classify(row)) for row in dfv ]
answer=np.array(answer)

In [52]:
df["Price"]=answer.T[4]
df

     House_ID  Square_meters  years_old  bedrooms  Price
0           1            188         72         3    312
1           2            103         14         5    341
2           3             80         51         2    217
3           4            167         21         2    335
4           5            162         20         1    335
5           6            161         68         5    382
6           7            162         88         2    312
7           8            128         91         1    285
8           9            148         48         3    285
9          10            130          7         3    341
10         11            103         37         5    285
11         12            110         98         5    285
12         13            140         46         2    285
13         14            152         99         4    285
14         15            128         31         5    285
15         16            136         91         3    285
16         17            123         59         1    285
17         18            101         45         1    285
18         19            143         83         1    285
19         20            142         30         5    285
20         21            164         48         5    382
21         22            155         99         3    285
22         23            177          7         2    335
23         24            138         59         4    285
24         25            158         66         5    285
25         26            110         80         3    285
26         27            165         72         1    312
27         28            118         80         1    285
28         29            126         78         5    285
29         30             99         30         5    217
..        ...            ...        ...       ...    ...
170       171            171         11         1    335
171       172            169         70         2    312
172       173             97         12         1    258
173       174            178         55         3    312
174       175            197         77         4    382
175       176            128         41         2    285
176       177            117         78         5    285
177       178            172         67         4    382
178       179            156         93         1    285
179       180            131         94         3    285
180       181            100         72         5    217
181       182            122         66         3    285
182       183             97         46         2    217
183       184            139         79         3    285
184       185            193         86         4    382
185       186             99         57         1    217
186       187            143         47         3    285
187       188            185         80         3    312
188       189            181          9         4    510
189       190            192         49         5    382
190       191            100         31         2    217
191       192             83         57         2    217
192       193            123         37         1    285
193       194            191         87         2    312
194       195            185          9         4    510
195       196            187         31         2    335
196       197            191         34         5    382
197       198            185         22         5    382
198       199            181          1         2    335
199       200            115         89         2    285

[200 rows x 5 columns]